body {
  margin: 0;
}
#header {
  width: 100%;
  height: 5%;
  min-height: 30px;
  background-color: #c7f2ff;
}
#images {
  width: 100%;
  height: 90%;
}
#scroll-bar {
  width: 100%;
  height: 5%;
  min-height: 30px;
  background-color: #ffd5f2;
}
