body {
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
::-webkit-scrollbar { 
  display: none; 
}

#header {
  width: 100%;
  height: 50px;
  .header-buttons {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  #home {
    float: left;
    background-image: url("images/photography-icons/home-alt.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #menu {
    float: right;
    padding: 0 5px;
    .h-bars {
      height: 2px;
      margin: 4px 0;
      width: 20px;
      background-color: #000;
      border-radius: 5px;
    }
  }
}

#images {
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  .images-container {
    width: 10000px;
    .image {
      margin: 0 10px;
    }
  }
}

#scroll-bar {
  width: 100%;
  height: 50px;
  .scroll-bar__items {
    height: 100%;
    display: inline-block;
  }
  .nav-buttons {
    width: 15%;
    min-width: 20px;
    .nav-button {
      width: 30px;
      height: 30px;
      margin: 10px;
    }
  }
  #scroll-bar__container {
    width: 70%;
    #scroll-bar__inner {
      width: 100%;
      height: 2px;
      margin: 24px auto;
      background-color: #bebebe;
    }
  }
  #button-prev {
    float: left;
    .btn-prev {
      background-image: url(images/photography-icons/angle-left.svg);
      float: right;
    }
  }
  #button-next {
    float: right;
    .btn-next {
      background-image: url(images/photography-icons/angle-right.svg);
    }
  }
}
