body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  margin: 0;
}
.link {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1000px;
  margin: auto;
}
#nav {
  background-color: #105668;
  font-size: 20px;
  padding: 10px;
  position: sticky;
  top: 0;
}
#nav .link {
  color: #fff;
  margin-right: 50px;
}
#header {
  text-align: center;
  background-image: url("background-image.jpg");
  background-size: cover;
  color: #fff;
}
#header .header-content {
  padding: 300px 0 200px;
}
#header .header-content h1 {
  font-size: 60px;
  font-family: 'Lancelot', cursive;
}
#header .header-content p {
  font-size: 20px;
}
#header .btn-arrow {
  margin: 50px 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  background-image: url("chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
.profile-image {
  width: 30px;
}
