html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 30px 0;
}
h1 {
  margin: 0;
}
.section-heading {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 30px;
  }
}
.link {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.hidden {
  display: none;
}
.b-padding-30 {
  padding-bottom: 30px;
}
.section-padding {
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .mobile-no-padding {
    padding: 0;
  }
}
.icon-link {
  padding-left: 25px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 60%;
  text-decoration: none;
}
.icon-linkedin-w {
  background-image: url("images/social-icons/linkedin-white.svg");
}
.icon-github-w {
  background-image: url("images/social-icons/github-white.svg");
}
.icon-codepen-w {
  background-image: url("images/social-icons/codepen-white.svg");
}
.icon-map-w {
  background-image: url("images/social-icons/map.svg");
}
.icon-phone-w {
  background-image: url("images/social-icons/mobile.svg");
}
.icon-email-w {
  background-image: url("images/social-icons/envelope.svg");
}
.icon-b-github {
  background-image: url("images/social-icons/github-black.svg");
}
.icon-b-codepen {
  background-image: url("images/social-icons/codepen-black.svg");
}
#nav {
  font-size: 20px;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 1s;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  #nav {
    padding: 10px;
  }
}
#nav .link-container {
  display: inline-block;
  width: 16%;
  text-align: center;
}
#nav .link-container .link {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #nav .link-container .link {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  #nav .link-container .link {
    font-size: 14px;
  }
}
#nav .link-container .link:hover {
  color: #8eabb4;
}
.navbar-scrolled {
  background-color: #c4ecf8;
}
@media screen and (max-width: 450px) {
  #nav {
    padding: 10px;
  }
  #nav .link-container .link {
    font-size: 14px;
  }
  #nav .link-sm {
    width: 11%;
  }
  #nav .link-md {
    width: 22%;
  }
  #nav .link-lg {
    width: 20%;
  }
}
#header {
  text-align: center;
  background-image: url("images/background-image-2.jpg");
  background-size: cover;
  color: #fff;
  padding: 0;
  height: 100vh;
}
#header .header-content {
  padding-top: 40vh;
}
#header .header-content h1 {
  font-size: 60px;
  font-family: 'Lancelot', cursive;
}
@media screen and (max-width: 767px) {
  #header .header-content h1 {
    font-size: 50px;
  }
}
#header .header-content p {
  font-size: 20px;
}
#header .header-content p .header-link {
  padding: 0 10px;
}
#header .header-content p .icon-link {
  padding-left: 25px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 60%;
}
#header .btn-arrow {
  margin: 50px 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: none;
  border: none;
  background-image: url("images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  transition: 0.15s;
  position: absolute;
  bottom: 40px;
  left: 0;
}
#header .btn-arrow:hover {
  background-size: 50px;
}
#header .btn-arrow:focus {
  outline: 0;
}
#about .about__top {
  width: 100%;
  text-align: center;
}
#about .about__left {
  float: left;
  width: 250px;
  height: 250px;
  background-image: url('images/profile-image.jpg');
  background-size: cover;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  #about .about__left {
    margin: 0 0 20px;
    padding: 0 0 50px;
    width: 100%;
    height: 200px;
    background-image: url('images/profile-image-wide.png');
  }
}
#about .about__right {
  margin-left: 300px;
}
@media screen and (max-width: 767px) {
  #about .about__right {
    margin-left: 0;
  }
}
#skills .skills_container__outer {
  padding: 0 0 20px;
}
#skills .skills_container__outer h3::after {
  background-image: url('images/social-icons/plus-circle.svg');
}
#skills .skills_container__outer .skill_item {
  height: 35px;
  margin: 20px 0 ;
}
#skills .skills_container__outer .skill_item .skill-heading {
  width: auto;
  text-align: left;
}
#skills .skills_container__outer .skill_item .skill-heading p {
  padding-right: 10px;
  margin: 0;
}
#skills .skills_container__outer .skill_item .skill_graphic_container {
  width: 100%;
  float: none;
}
#skills .skills_container__outer .skill_item .skill_graphic_container .skill_graphic {
  height: 8px;
  margin: 6px 0;
  border-radius: 10px;
}
#skills .skills_container__outer .skill_item .skill_graphic_container .skill_graphic__b {
  width: 100%;
  background-color: #fff;
}
#skills .skills_container__outer .skill_item .skill_graphic_container .skill_graphic__b .skill_graphic__c {
  width: 10%;
  background-image: linear-gradient(to right, #c4ecf8, #c7ffbb);
}
#work .work_card__left {
  float: left;
  height: inherit;
  width: 27%;
  text-align: center;
  transition-duration: 0.3s;
}
#work .work_card .work_scroll_style {
  font-weight: bold;
  font-size: 18px;
}
#work .work_card__middle {
  width: 2%;
  height: inherit;
  float: left;
  border-left: solid 1px #8eabb4;
}
#work .work_card__middle #timeline_circle {
  border-radius: 25px;
  background-color: #c4ecf8;
  width: 20px;
  height: 20px;
  margin-left: -10px;
}
#work .work_card__right {
  float: right;
  height: inherit;
  width: 70%;
}
@media screen and (max-width: 767px) {
  #work {
    position: relative;
  }
  #work .mobile-line {
    border-top: solid 1px #8eabb4;
    width: 100vw;
    position: absolute;
    margin-top: 140px;
  }
  #work .work_card-container {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  #work .work_card-container--inner {
    height: 500px;
  }
  #work .work_card-container--inner .work_card {
    width: 70vw;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
  }
  #work .work_card-container--inner .work_card__left {
    width: auto;
    float: none;
    height: auto;
    margin-bottom: 35px;
    color: #8eabb4;
  }
  #work .work_card-container--inner .work_card .work_scroll_style {
    font-weight: bold;
    color: #000;
  }
  #work .work_card-container--inner .work_card__middle {
    display: none;
  }
  #work .work_card-container--inner .work_card__right {
    width: auto;
    height: auto;
    float: none;
    padding: 20px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
  }
  #work .work_card-container--inner .work_card__right h3 {
    text-align: center;
  }
}
#portfolio {
  text-align: center;
}
#portfolio .header-link {
  margin: 0 10px;
}
#portfolio .header-link a {
  color: #000;
}
#portfolio .portfolio_item {
  text-align: left;
  padding: 20px 0;
}
#portfolio .portfolio_item .cp_embed_wrapper {
  margin: 20px 0;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
}
#photography {
  color: #fff;
  text-align: center;
  margin: 50px 0 100px;
}
#photography button {
  background-color: transparent;
  outline: none;
  border: none;
}
#photography .carousel-content {
  position: relative;
  transition-duration: 1s;
  padding: 0;
}
#photography .carousel-content img {
  width: 95%;
}
#photography .carousel-content .carousel-controls {
  margin: 10px 0;
}
#photography .carousel-content .carousel-controls button {
  padding: 20px;
  width: 30px;
  height: 30px;
  background-image: url('images/social-icons/circle.svg');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
.over-overlay {
  z-index: 2;
  position: relative;
}
#contact {
  color: #fff;
  position: relative;
  max-width: 245px;
  margin: auto;
}
#contact a {
  color: #fff;
}
#back-to-top {
  width: 200px;
  margin: 20vh auto;
}
#back-to-top button {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  transition: 0.5s;
}
#back-to-top button:hover {
  font-size: 25px;
}
.photography-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
