html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 50px 0;
}
h1 {
  margin: 0;
}
.section-heading {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.hidden {
  display: none;
}
.b-padding-30 {
  padding-bottom: 30px;
}
.section-padding {
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}
#nav {
  font-size: 20px;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 1s;
}
#nav .link-container {
  display: inline-block;
  width: 20%;
  text-align: center;
}
#nav .link-container .link {
  color: #fff;
}
#nav .link-container .link:hover {
  color: #ffdca8;
}
.navbar-scrolled {
  background-color: #91ddeb;
}
@media screen and (max-width: 768px) {
  #nav .link {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  #nav {
    padding: 10px;
  }
  #nav .link-container .link {
    font-size: 14px;
  }
  #nav .link-sm {
    width: 15%;
  }
  #nav .link-md {
    width: 20%;
  }
  #nav .link-lg {
    width: 30%;
  }
}
#header {
  text-align: center;
  background-image: url("images/background-image-2.jpg");
  background-size: cover;
  color: #fff;
  padding: 0;
}
#header .header-content {
  padding: 50% 0 20%;
}
#header .header-content h1 {
  font-size: 60px;
  font-family: 'Lancelot', cursive;
}
#header .header-content p {
  font-size: 20px;
}
#header .btn-arrow {
  margin: 50px 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: none;
  background-image: url("images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  transition: 0.2s;
}
#header .btn-arrow:hover {
  background-size: 50px;
}
#header .btn-arrow:focus {
  outline: 0;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  #header .header-content {
    padding: 70% 0 20%;
  }
}
@media screen and (min-width: 990px) {
  #header .header-content {
    padding: 30% 0 20%;
  }
}
@media screen and (max-width: 767px) {
  #header .header-content h1 {
    font-size: 50px;
  }
}
#about .about__top {
  width: 100%;
  text-align: center;
}
#about .about__left {
  float: left;
  width: 250px;
  height: 250px;
  background-image: url('images/profile-image.jpg');
  background-size: cover;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#about .about__right {
  margin-left: 300px;
}
.other {
  border-radius: 5px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
}
.other__container {
  cursor: pointer;
  text-align: justify;
}
.other__container .other__btn {
  display: inline-block;
  background-color: #ececec;
  padding: 10px 0;
  text-align: center;
  width: 33.33%;
  transition: 0.5s;
}
.other__container .other__btn:hover {
  background-color: #d1d1d1;
}
.other__container .other__btn--active {
  background-color: #fff;
  color: #000;
}
.other__container .other__btn--active:hover {
  background-color: #fff;
}
.other .other-content {
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  #about .about__left {
    margin: -50px 0 20px;
    padding: 0 0 50px;
    width: 100%;
    height: 200px;
    background-image: url('images/profile-image-wide.png');
  }
  #about .about__right {
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .other__btn {
    font-size: 14px;
  }
}
#contact-bar {
  padding: 30px 0;
  background-color: #ffdca8;
  font-size: 20px;
  font-weight: bold;
}
#contact-bar .contact-item__container {
  width: 950px;
  margin: auto;
}
#contact-bar .contact-item__container .contact-item {
  display: inline-block;
  margin: 0 40px;
}
#contact-bar .contact-item__container .contact-item__content {
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100px;
  transition: 0.4s;
}
#contact-bar .contact-item__container .contact-item__content__link {
  display: block;
  width: 150px;
  padding: 110px 0 0;
}
#contact-bar .contact-item__container .contact-item__content--cv {
  background-image: url("images/social-icons/document-white.svg");
}
#contact-bar .contact-item__container .contact-item__content--cv:hover {
  background-image: url("images/social-icons/document-color.svg");
}
#contact-bar .contact-item__container .contact-item__content--github {
  background-image: url("images/social-icons/github-white.svg");
}
#contact-bar .contact-item__container .contact-item__content--github:hover {
  background-image: url("images/social-icons/github-color.svg");
}
#contact-bar .contact-item__container .contact-item__content--codepen {
  background-image: url("images/social-icons/codepen-white.svg");
}
#contact-bar .contact-item__container .contact-item__content--codepen:hover {
  background-image: url("images/social-icons/codepen-color.svg");
}
#contact-bar .contact-item__container .contact-item__content--linkedin {
  background-image: url("images/social-icons/linkedin-white.svg");
}
#contact-bar .contact-item__container .contact-item__content--linkedin:hover {
  background-image: url("images/social-icons/linkedin-color.svg");
}
@media screen and (max-width: 991px) {
  #contact-bar .contact-item__container {
    width: 770px;
  }
  #contact-bar .contact-item__container .contact-item {
    margin: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  #contact-bar .contact-item__container {
    width: 430px;
  }
  #contact-bar .contact-item__container .contact-item {
    margin: 30px 30px;
  }
}
@media screen and (max-width: 480px) {
  #contact-bar .contact-item__container {
    width: 320px;
  }
  #contact-bar .contact-item__container .contact-item__content {
    background-size: 80px;
  }
  #contact-bar .contact-item__container .contact-item__content__link {
    width: 97px;
  }
}
@media screen and (max-width: 374px) {
  #contact-bar .contact-item__container {
    width: 286px;
  }
  #contact-bar .contact-item__container .contact-item__content__link {
    width: 80px;
  }
}
#work {
  background-color: #91ddeb;
}
#work h2 {
  color: #fff;
}
#work .work-card-container {
  padding: 0 5px;
}
#work .work-card-container .work-card {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}
#work .work-card-container .work-card__inner {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: auto;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  height: auto;
}
@media screen and (max-width: 767px) {
  #work .work-card-container .work-card {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #work .work-card-container {
    padding: 0;
  }
  #work .work-card-container .work-card {
    width: 100%;
  }
}
