


@col1: #c4ecf8;
@col2: #c7ffbb;
// @col3: #ad94c5;
@col3: #8eabb4;

@gradient1: linear-gradient(to right,@col1, @col2);
// @gradient1: linear-gradient(to right,#93ecae, #f9f96f);
@colgrey: #ececec;
@titlefont: 'Lancelot', cursive;
@bodyfont: 'Quicksand', sans-serif;
@shadow:  0px 5px 15px 2px rgba(0, 0, 0, 0.2);

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: @bodyfont;
    scroll-behavior: smooth;
}
section{
    padding: 30px 0;
}
h1{
    margin: 0;
}
.section-heading{
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 768px){
        font-size: 30px;
    }
}
.link{
    text-decoration: none;
    color: #fff;
}
.container{
    max-width: 1000px;
    // width: 80%;
    margin: auto;
}
.hidden{
    display: none;
}
.b-padding-30{
    padding-bottom: 30px;
}
.section-padding{
    padding: 0 50px;
    @media screen and (max-width: 767px){
        padding: 0 20px;
    }
}
@media screen and (max-width: 767px){
    p{
        font-size: 14px;
    }
}
// mobile stuff
@media screen and (max-width: 767px){
    .hidden-xs{
        display: none;
    }
    .mobile-no-padding{
        padding: 0;
    }
}

//icons

.icon-link{
    padding-left: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left 60%;
    text-decoration: none;
}
.icon-linkedin-w{
    background-image: url("images/social-icons/linkedin-white.svg")
}
.icon-github-w{
    background-image: url("images/social-icons/github-white.svg")
}
.icon-codepen-w{
    background-image: url("images/social-icons/codepen-white.svg")
}
.icon-map-w{
    background-image: url("images/social-icons/map.svg")
}
.icon-phone-w{
    background-image: url("images/social-icons/mobile.svg")
}
.icon-email-w{
    background-image: url("images/social-icons/envelope.svg")
}
.icon-b-github{
    background-image: url("images/social-icons/github-black.svg")
}
.icon-b-codepen{
    background-image: url("images/social-icons/codepen-black.svg")
}



#nav{
    font-size: 20px;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 1s;
    z-index: 1;
    @media screen and (max-width: 450px){
        padding: 10px;
    }
    .link-container{
        display: inline-block;
        width: 16%;
        text-align: center;
        .link{
            color: #fff;
            @media screen and (max-width: 768px){
                font-size: 16px;
            }
            @media screen and (max-width: 450px){
                font-size: 14px;
            }
        }
        .link:hover{
            color: @col3;
        }
    }
}
.navbar-scrolled{
    background-color: @col1;
}
@media screen and (max-width: 450px){
    #nav{
        padding: 10px;
        .link-container .link{
            font-size: 14px;
        } 
        // .link-sm{
        //     width: 15%;
        // }
        // .link-md{
        //     width: 20%;
        // }
        // .link-lg{
        //     width: 30%;
        // }
        .link-sm{
            width: 11%;
        }
        .link-md{
            width: 22%;
        }
        .link-lg{
            width: 20%;
        }
    }
}


#header{
    text-align: center;
    background-image: url("images/background-image-2.jpg");
    background-size: cover;
    color: #fff;
    padding: 0;
    height: 100vh;
    .header-content{
        padding-top: 40vh;
        h1{
            font-size: 60px;
            font-family: @titlefont;
            @media screen and (max-width: 767px){
                font-size: 50px;
            }
        }
        p{
            font-size: 20px;
            .header-link{
                padding: 0 10px;
            }
            .icon-link{
                padding-left: 25px;
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: left 60%;
            }
            
        }
    }
    .btn-arrow{
        margin: 50px 0;
        width: 100%;
        height: 40px;
        cursor: pointer;
        background: none;
        border:none;
        background-image: url("images/chevron-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        transition: 0.15s;
        position: absolute;
        bottom: 40px;
        left: 0;
    }
    .btn-arrow:hover{
        background-size: 50px;
    }
    .btn-arrow:focus{
        outline: 0;
    }
}

#about{
    .about{
        &__top{
            width: 100%;
            text-align: center;
        }
        &__left{
            float: left;
            width: 250px;
            height: 250px;
            background-image: url('images/profile-image.jpg');
            background-size: cover;   
            box-shadow: @shadow;
            border-radius: 5px;
            @media screen and (max-width: 767px){
                margin: 0 0 20px;
                padding: 0 0 50px;
                width: 100%;
                height: 200px;
                background-image: url('images/profile-image-wide.png');
            }
        }
        &__right{
            margin-left: 300px; 
            @media screen and (max-width: 767px){
                margin-left: 0;
            }
        }

    }
    // .other{
    //     border-radius: 5px;
    //     // box-shadow: @shadow;
    //     border: 1px solid @col2;
    //     &__container{
    //         cursor: pointer;
    //         text-align: justify;
    //         .other__btn{
    //             display: inline-block;
    //             background-color: @col2;
    //             padding: 10px 0;
    //             text-align: center;
    //             width: 33.33%;
    //             transition: 0.5s;
    //             @media screen and (max-width: 767px){
    //                 font-size: 14px;
    //             }
    //         }
    //         .other__btn:hover{
    //             background-color: #f5f5f5;
    //         }
    //         .other__btn--active{
    //             background-color: #fff;
    //             color: #000;
    //         }
    //         .other__btn--active:hover{
    //             background-color: #fff;
    //         }
    //     }
    //     .other-content{
    //         padding: 10px 20px;
    //     }
    // }
}

#skills{
    .skills_container__outer{
        padding: 0 0 20px;
        h3::after{
            background-image: url('images/social-icons/plus-circle.svg')
        }
        .skill_item{
            height: 35px;
            margin: 20px 0 ;
            .skill-heading{
                width: auto;
                text-align: left;
                p{
                    padding-right: 10px;
                    margin: 0;
                }
            }
            .skill_graphic_container{
                width: 100%;
                float: none;
                .skill_graphic{
                    height: 8px;
                    margin: 6px 0;
                    border-radius: 10px;
                }
                .skill_graphic__b{
                    width: 100%;
                    background-color: #fff;
                    .skill_graphic__c{
                        width: 10%;
                        background-image: @gradient1;
                    }
                }
            }
              
        }
    }
}
// @media screen and (max-width: 767px){
//     .skills_container__outer{
//         cursor: pointer;
//         .skills__inner__hidden{
//             display: none;
//         }
//     }

// }


#work{
    .work_card{
        &__left{
            float: left;
            height: inherit;
            width: 27%;
            text-align: center;
            transition-duration: 0.3s;
        }
        .work_scroll_style{
            font-weight: bold;
            font-size: 18px;
        }
        &__middle{
            width: 2%;
            height: inherit;
            float: left;
            border-left: solid 1px @col3;
            #timeline_circle{
                border-radius: 25px;
                background-color: @col1;
                width: 20px;
                height: 20px;
                margin-left: -10px;
            }
        }
        &__right{
            float: right;
            height: inherit;
            width: 70%;
        }
    }
}
// Mobile
@media screen and (max-width: 767px){
    #work{
        position: relative;
        .mobile-line{
            border-top: solid 1px @col3;
            width: 100vw; 
            position: absolute;
            margin-top: 140px;
        }
        .work_card-container{
            width: 100vw;
            overflow-y: hidden;
            overflow-x: scroll;
            scroll-behavior: smooth;
            &--inner{
                height: 500px;
                .work_card{
                    width: 70vw;
                    display: inline-block;
                    vertical-align: top;
                    margin: 10px 10px;
                    &__left{
                        width: auto;
                        float: none;
                        height: auto;
                        margin-bottom: 35px;
                        color: @col3;
                    }
                    .work_scroll_style{
                        font-weight: bold;
                        color: #000;
                    }
                    &__middle{
                        display: none;
                    }
                    &__right{
                        width: auto;
                        height: auto;
                        float: none;
                        padding: 20px;
                        box-shadow: @shadow;
                        h3{
                            text-align: center;
                        }
                    }
                }   
            }
        }
    }
}




#portfolio{
    text-align: center;
    .header-link{
        margin: 0 10px;
        a{
            color:#000;
        }
    }
    .portfolio_item{
        text-align: left;
        padding: 20px 0;
        .cp_embed_wrapper{
            margin: 20px 0;
            box-shadow: @shadow;
        }
    }
    
}

#photography{
    color: #fff;
    text-align: center;
    margin: 50px 0 100px;
    button{
        background-color: transparent;
        outline: none;
        border: none;
    }
    .carousel-content{
        position: relative;
        transition-duration: 1s;
        padding: 0;
        img{
            width: 95%;
        }
        .carousel-controls{
            margin: 10px 0;
            button{
                padding: 20px;
                width: 30px;
                height: 30px;
                background-image: url('images/social-icons/circle.svg');
                background-size: 40%;
                background-position: center;
                background-repeat: no-repeat;
                transition: 1s;
            }
        }
    }
    
}
.over-overlay{
    z-index: 2;
    position: relative;
}

#contact{
    color: #fff;
    position: relative;
    max-width: 245px;
    margin: auto;
    a{
        color: #fff;
    }
}

#back-to-top{
    width: 200px;
    margin: 20vh auto;
    button{
        font-size: 20px;
        font-family: @bodyfont;
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: transparent;
        outline: none;
        border: none;
        transition: 0.5s;
        &:hover{
            font-size: 25px;
        } 
    }
    
}

.photography-overlay{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}